*,
*::before,
*::after {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
@font-face {
  /* Regular */
  font-family: 'Moderat'; 
  src: local('font'), local('font'),
      url('../Fonts/font/Moderat-Regular.ttf') format('truetype'),
      url('../Fonts/font/Moderat-Regular.woff') format('woff'),
      url('../Fonts/font/Moderat-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  /* Light */
  font-family: 'Moderat'; 
  src: local('font'), local('font'),
      url('../Fonts/font/Moderat-Light.ttf') format('truetype'),
      url('../Fonts/font/Moderat-Light.woff') format('woff'),
      url('../Fonts/font/Moderat-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  /* Medium */
  font-family: 'Moderat'; 
  src: local('font'), local('font'),
      url('../Fonts/font/Moderat-Medium.ttf') format('truetype'),
      url('../Fonts/font/Moderat-Medium.woff') format('woff'),
      url('../Fonts/font/Moderat-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  /* Bold */
  font-family: 'Moderat'; 
  src: local('font'), local('font'),
      url('../Fonts/font/Moderat-Bold.ttf') format('truetype'),
      url('../Fonts/font/Moderat-Bold.woff') format('woff'),
      url('../Fonts/font/Moderat-Bold.woff2') format('woff2');
  font-weight: 600;
}
/* Millik */
@font-face {
  font-family: 'Millik';
  src: local('Millik Regular'), local('Millik-Regular'),
      url('../Fonts/millik-5056651/Millik.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Moderat', sans-serif;
  font-weight: 500;
  position: relative;
}
main {
  overflow-x: hidden !important;
}
.header-class {
  padding: 3rem 2rem 0;
  border: 2px solid #f00;
  /* height: 10rem; */
  width: 100%;
}
.nav-class {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #0400ff;
  max-width: 109.2rem;
}
.nav-content-box {
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  width: auto;
  justify-content: center;
  align-items: center;
}
.org-logo {
    height: auto;
    width: 18.5rem;
    /* border: 2px dotted #0f0; */
    /* border: none; */
}
.nav-ULlist-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: inherit;
  width: fit-content;
  list-style: none;
  justify-content: center;
  align-items: center;
  color: #262c55;
  /* border: 2px double #00ffb3; */
}
a {
  display: inline-flex;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nav-ULlist-items li {
  display: flex;
  justify-content: center;
  margin-right: 1.5rem;
  align-items: center;
  height: 4.5rem;
  position: relative;
  color: #262c55;
  cursor: pointer;
  /* border: 1px solid #ffbb00; */
  /* padding: 1.3rem; */
}
.nav-ULlist-items li > a,
.pay,
.com {
  padding: 1rem;
  color: #262c55;
}
/* .nav-ULlist-items li > a:hover {
  color: #00abab;
} */
.display__payCom {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 33rem;
  position: absolute;
  top: 6.3rem;
  left: -3.7rem;
  padding: 2.5rem 2rem;
  /* border: 1px solid #f00; */
  border-radius: 1rem;
  transform: translateY(0%);
  box-shadow: 0px 10px 40px rgba(0,0,0,.2);
  opacity: 0;
  transition: transform .6s cubic-bezier(0.16, 1, 0.3, 1),
  opacity .2s ease-out;
  animation: displayPay .5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
#com {
  left: -5rem;
}

@keyframes displayPay {
  from {
    opacity: 0.6;
    transform: translateY(8%);
  }
  to {
    opacity: 1;
    transform: translateY(-8%);
  }
}

.display__payCom li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  color: #000;
  height: auto;
  margin: 0 0 4rem;
  padding: 0;
}
.display__payCom li:last-child {margin-bottom: 0;}
.display__payCom li a {
  display: inline-flex;
  margin-bottom: 0.5rem;
  font-family: 'Moderat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #262c55;
  width: fit-content;
  height: fit-content;
}
.display__payCom li a:hover,
.nav-ULlist-items li > a:hover  {
  color: #00abab !important;
}
.display__payCom li p {
  font-family: 'Moderat', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem !important;
}
.display__payCom__img {
  max-width: 4.2rem;
  height: 4.2rem;
  margin-right: 1rem;
  margin: 0.3rem 1.2rem 0 0;
  border: 1px solid #000;
  border-radius: 1.5rem;
}
.display__payCom__img img  {
  border-radius: 1.5rem;
}
.display__payCom__text,
.display__payCom__img {
  line-height: 2.24rem;
}


#btn-sign-in {
  height: 4.5rem;
  width: 14rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  color: #000;
  font-family: "Moderat", sans-serif;
  font-size: 1.4rem;
  transition: all .3s ease;
}
#btn-sign-in a {
  color: #000;
}
#btn-sign-in a:hover {
  color: #fff;
}
#btn-sign-in:hover {
  color: #fff !important;
  background-color: #0a0e27e6;
}
#first-sect {
  display: flex;
  flex-direction: row;
  margin: 7rem auto 0;
  border: 2px solid #e5ff00;
  max-width: 109.2rem;
}
.first-sect-text {
  font-size: 2.2rem;
  width: 50rem;
}
.first-sect-text h4 {
  color: #000;
  font-size: 10rem;
  line-height: 1.08;
  font-family: 'Millik', sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
}
.first-sect-text p {
  margin: 3rem 5rem 0 0;
  line-height: 1.35;
  font-weight: 300;
}
.general_btn {
  /* padding: 1.5rem; */
  height: 6rem;
  width: 13rem;
  margin-top: 3rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.6rem;
  font-family: 'Moderat', sans-serif;
  font-weight: 500;
  outline: none;
  background-color: #0a0e27;
  color: #fff;
}
.btn_first_sect{
   width: 14rem;
}
.general_btn > a {
  color: #fff !important;
}
.flutterwave-svg {
    width: auto;
    height: 52rem;
}
#second-sect {
  color: #1d1d1d;
  background-color: #f8fafd;
  padding: 16.5rem 2rem 0;
}
.sec-sect-text {
  margin: 0 auto;
  margin-bottom: 10rem;
  max-width: 109.2rem;
  border: 2px solid #f00;
}
.sec-sect-text p {
  font-size: 8rem;
  line-height: 1.35;
  font-weight: 300;
}
.sec-sect-box {
  display: flex;
  flex-direction: row;
  color: #1d1d1d;
  font-size: 2rem;
  width: 109.2rem;
  margin: 0 auto;
  border: 2px solid #0a0e27;
  padding-bottom: 14rem;
}
.flexText {
  display: flex;
  flex-direction: row;
}
.flexText h6 {
  font-size: 2.4rem;
  font-weight: 600;
  width: max-content;
  border: 2px solid red;
  margin-left: 4rem;
}
.sec-sect-digits {
  display: inline-flex;
  color: #35a162;
  align-items: center;
  justify-content: center;
  min-width: 4.5rem;
  height: 4.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  background: linear-gradient(81.57deg, rgba(0, 175, 175, 0.3) -2.42%, rgba(105, 255, 162, 0.3) 102.07%);
  border-radius: 2.25rem;
  z-index: 2;
  /* border: 2px solid #f00; */
}
.sec-sect-text2 {
  max-width: 48rem;
  padding-right: 6rem;
  /* border: 2px solid #0f0; */
}
.sec-sect-text2 ul>li {
  list-style: none;
  margin-top: 2.3rem;
}
.sec-sect-text2 p {
  border: 1px #00000066;
  border-style: none none none dashed;
  border-width: thin;
  font-weight: 300;
  min-height: 20rem;
  margin-left: 2.25rem;
  padding-left: calc(4rem + 2.25rem);
  padding-top: 1rem;
}
.flexText,
.sec-sect-text2 p {
  padding-right: 4rem;
}
.flexText div {
  border: solid #f8fafd;
  border-width: 0 0 7rem;
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  color: #fff;
  z-index: 1;
}
.sec-sect-text2 ul>li:nth-child(3) p {
  border: none;
}
.Payment-illustration {
  min-width: 144rem;
  height: 90rem;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.2));
}
#third-sect,
#fourth-sect {
  background-color: #fff;
  color: #1d1d1d;
  padding: 16rem 2rem 0;
}
.start-selling { 
  font-family: 'Moderat', sans-serif;
  font-weight: 300;
  font-size: 8rem;
  margin: 0 auto;
  max-width: 109.2rem;
  border: 2px solid #f00;
  line-height: 10rem;
  padding-bottom: 2rem;
  word-spacing: -0.3rem;
}
.safety-container {
  font-family: 'Moderat', sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  margin: 0 auto;
  max-width: 109.2rem;
  border: 2px solid #f00;
} 
.safety-container h2 {
  font-family: 'Millik', sans-serif;
  font-weight: 500;
  font-size: 8rem;
  letter-spacing: -0.2rem;
  line-height: 1.05;
}
.safety-container > p {
  line-height: 3.2rem;
  margin: 3rem 0rem 4.5rem;
}
.safety-contigent-box {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  font-weight: 300;
  justify-content: space-between;
}
.contigent {
  max-width: 39rem;
}
.contigent h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.contigent p {
  line-height: 2.5rem;
  margin: 1.1rem 0rem 4.5rem;
}
/* fifth sect */
#fifth-sect {
  background-color: #fff;
  color: #1d1d1d;
  padding: 10rem 2rem ;
}
.ready-to-start .cont {
  /* border: 2px solid #f00; */
  border-radius: 2rem;
  background-color: #1d1d1d;
  box-shadow: 0px 2.5rem 5rem #1d1d1d80;
  font-family: 'Moderat', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.2rem;
  max-width: 109.2rem;
  margin: 0 auto;
  padding: 3rem 3rem 2rem 3rem;
}
.cont-wrapper-textbox {
  margin: 6.6rem auto;
  max-width: 74.2rem;
}
.ready-to-start .cont .cont-wrapper-textbox h3 {
  font-size: 5rem;
  font-family: "Millik", sans-serif;
  font-weight: 500;
  margin-bottom: 3.5rem;
}
.ready-to-start .cont .cont-wrapper-textbox p {
  margin-bottom: 5rem;
}
.flexbtn-nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: 'Moderat', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
.btn-get-started {
  background-color: #fff;
  margin-right: 5rem;
}
.btn-get-started > a {color: #1d1d1d !important}
.flexbtn-nav .contact_nav_sales a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #fff;
}
.btn__icon {
  height: 1.2rem;
  width: auto;
  margin: 0.3rem 0 0 1rem;
  transform: translateX(0%);
  transition: transform .6s cubic-bezier(0.16, 1, 0.3, 1);
}
.flexbtn-nav .contact_nav_sales a:hover .btn__icon {
  color: red;
  transform: translateX(70%);
}
.footer-sect {
  color: #1d1d1d;
  background-color: #fff;
  padding: 10rem 2rem 0;
}
.footer-sect .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid #f00; */
  max-width: 109.2rem;
  margin: 0 auto;
  padding: 3rem 0;
  font-weight: 300;
}
.footer-nav .footer-flex-boxes {
  width: 21.75rem;
}
.footer-nav .footer-flex-boxes .footer-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 2.2rem;
  margin-bottom: 1.9rem;
}
.footer-nav .footer-flex-boxes .footer-head h5 {
  font-weight: 500;
}
.footer-head .ft__section__icon {display: none}
.footer-nav .footer-flex-boxes .footer-nav-list {
  font-size: 1.6rem;
}
.footer-nav .footer-flex-boxes .footer-nav-list div {
  margin-bottom: 2.1rem;
  line-height: 2.6rem;
}
.footer-ALinks:link,
.footer-ALinks:visited {
  color: #1d1d1d;
  text-decoration: none;
  transition: color .3s ease;
  justify-content: flex-start;
  width: fit-content;
}
.footer-ALinks:active,
.footer-ALinks:hover {
  color: #00abab;
}
.flex-terms-policy .footer_last_content:first-child,
.flex-terms-policy .footer_last_content:last-child nav {
  display: flex;
}
.flex-terms-policy .footer_last_content nav p:not(:last-child) {
  margin-right: 3rem;
}