@font-face {
    font-family: 'Moderat';
    src: local('Moderat Mono Regular'), local('Moderat-Mono-Regular'),
        url('Moderat-Mono-Regular.woff2') format('woff2'),
        url('Moderat-Mono-Regular.woff') format('woff'),
        url('Moderat-Mono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }